---
jira:
  # url: https://issues.redhat.com
  project-id: KONFLUX
  subquery: filter!=12422371
comments:
  footer: >
    {color:#505f79}See also
    [konflux.yaml|https://github.com/konflux-ci/prioritize/blob/main/config/konflux.yaml],
    the [source code|https://github.com/konflux-ci/prioritize], and the
    [runner|https://gitlab.cee.redhat.com/rbean/jira-automation/-/blob/main/.gitlab-ci.yml]
    for this bot.{color}
program_automation:
  issues:
    Feature:
      # collector: get_issues
      rules:
        - check_target_end_date
    Outcome:
      # collector: get_issues
      rules:
        - check_components
        - check_target_end_date
team_automation:
  issues:
    Feature:
      # collector: get_issues
      group_rules:
        - check_timesensitive_rank
    Epic:
      collector: get_child_issues
      rules:
        - rule: check_due_date
          kwargs:
            # This is a CEL expression
            ignore: >
              .key in [
                "SVPI-730", "STONEINTG-767", "STONEBLD-2116", "RHTAPWATCH-743",
                "KFLUXINFRA-34", "RELEASE-852", "PLNSRVCE-1605", "HAC-5626",
                "GITOPSRVCE-800", "EC-367", "DEVHAS-606", "ASC-454",
                "PSSECAUT-362", "SPMM-15910", "SPMM-16583"
              ]
              || .key.startsWith("MMENG-")
              || .key.startsWith("NCL-")
              || .key.startsWith("DESKTOP-")
              || .key.startsWith("CLDX-")
